# Top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

# Haskell files
[*.hs]
indent_style = space
indent_size = 2
max_line_length = 80

# Cabal files
[*.cabal]
indent_style = space
indent_size = 2

# YAML files (often used for stack.yaml or hie.yaml)
[*.yml]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false

# Makefiles must use tabs
[Makefile]
indent_style = tab
